<div style="margin-top:25px ; padding:10px" >
    <div class="row">
        <!-- <div class="col-md-3">
            <button class="btn btn-primary">Get Customers</button>
        </div> -->
        <div class="col-3">
            <input type="button" (click)="openComponent()" class="btn btn-primary" value="Create Customer">
        </div>
    </div>
    <!-- Bydefault let-close is giving here assign by close.so i did't give any reference from
    .ts file. i.e. why it takes as a function with local value -->
    <!-- <ng-template #customertemplate let-close="close" let-Mydismiss="dismiss" let-dis="dis">
        <app-create-cus-tem [cusomerModalclose]="close" [dis]="dis" [customerModaldismiss]="Mydismiss">
        </app-create-cus-tem>
    </ng-template> 
     <div class="col-3">
        <input type="button" (click)="openTemplate(customertemplate)" 
        class="btn btn-primary" value="Create Customer Template">
    </div> -->
    <div style="margin-top:10px">
        <app-get-customers></app-get-customers>
    </div>

    <!-- 
    <div aria-live="polite" aria-atomic="true" style="position: relative; min-height: 200px;">
        <div class="toast" style="position: absolute; top: 0; right: 0;">
            <div class="toast-header">
                <img src="..." class="rounded mr-2" alt="...">
                <strong class="mr-auto">Create</strong>
                <small>11 mins ago</small>
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="toast-body">
                mADAN
            </div>
        </div>
    </div> -->


</div>