<div class="form-group" style="margin-top:30px; margin-left:20px">
    <h4>String Demo</h4>
</div>

<div class="container" >

    

    <!-- {{strMessage}} -->
    <form name="myForm1" #myForm="ngForm" (submit)="formSubmission()">
        <div class="container row form-group" [formGroup]="LformGroup">
            <div class="col-4">
                <input type="text" formControlName="FirstName" class="form-control" placeholder="String is" />
            </div>
            <div class="col-4">
                <input type="text" formControlName="SecondName" class="form-control" placeholder="Parameter" />
            </div>
            <div class="col-4">
                <!-- formControlName="MethodName" -->
                <select ngModel (change)="onChange($event)" class="form-control" formControlName="MethodName">
                    <!-- <option ><ng-container>{{strMessage}}</ng-container></option> -->
                    <option [value]="index" *ngFor="let item of stringMethods;let index = index">
                        {{index+1}}-{{item.Name}}
                    </option>
                </select>
            </div>
        </div>
        <hr>
        <div class="form-group row">
            <div class="col-3">
            </div>
            <div class="col-1">
                <button class="btn btn-primary"
                    (click)="Execution(LformGroup.controls['FirstName'].value,LformGroup.controls['SecondName'].value,LformGroup.controls['MethodName'].value)">Result</button>
            </div>
            <div class="col-1">
                <input type="button" class="btn btn-success" (click)="Clear(myForm)" value="Clear">
            </div>
            <div class="col-1">
                <input type="button" class="btn btn-warning" (click)="Filter(LformGroup.controls['MethodName'].value)" value="Filter">
            </div>
        </div>
        <!-- 
        <div class="form-group row">
            <div class="card col-md-6">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item card-text" *ngIf="AftercharAt"><b>After CharAt is</b> {{AftercharAt}}</li>
                 
                </ul>
            </div>
            <div class="card col-md-6">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item card-text" *ngIf="AftercharAt"><b>Actual value after return type is </b>
                         {{LformGroup.controls['FirstName'].value}}</li>
                </ul>
            </div>
        </div> -->



    </form>
   
</div>

<div class="form-group col-md-12" *ngIf="Records">
    <table class="table  table-dark table-hover">
        <!-- <caption>List of users</caption> -->
        <thead>
            <th>
                Method Name
            </th>
            <th>
                String Original Value
            </th>
            <th>
                Function Parameter
            </th>
            <th>
                Return type
            </th>
            <th>
                After Return String Value
            </th>
            <th>
                Original String == Current String
            </th>
        </thead>
        <tbody>
            <tr *ngFor="let item of Records.slice().reverse();let index = index">
                <td class="font-weight-bold">
                    {{item.MethodName}}
                </td>
                <td>
                    {{item.InputName}}
                </td>
                <td>
                    {{item.parameter}}
                </td>
                <td>
                    {{item.Returntype}}
                </td>
                <td>
                    {{item.OriginalValue}}
                </td>
                <td>
                    {{item.Original}}
                </td>
            </tr>
        </tbody>
    </table>
</div>