<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div>
                <h1>
                    Oops!</h1>
                <h2>
                    404 Not Found</h2>
                <div class="error-details">
                    Sorry, an error has occured, Requested page not found!
                    <br>
                    <b> {{ErrorMessage}}</b>
                </div>
                <div class="error-actions">
                    <!-- <a [routerLink]="customer">
    Navigate to CusotmerHome </a>
<a routerLink="/customer">Go!</a> -->
                    <input (click)="evtClick()" type="button" value="click" class="btn btn-primary">
                </div>
            </div>
        </div>
    </div>
</div>