<div class="card bg-light">
    <article class="card-body mx-auto" style="max-width: 400px;">
        <h4 class="card-title mt-3 text-center">Create Account</h4>
        <p class="text-center">Get started with your free account</p>
        <!-- <p>
            <a href="" class="btn btn-block btn-twitter"> <i class="fab fa-google"></i>   Login via Google</a>
            <a href="" class="btn btn-block btn-facebook"> <i class="fab fa-facebook-f"></i>   Login via
                facebook</a>
        </p>
        <p class="divider-text">
            <span class="bg-light">OR</span>
        </p> -->
        <form ngForm="userForm">
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                </div>
                <input name="Name" class="form-control" placeholder="Full name" type="text"
                    [(ngModel)]="user.Name">
            </div> <!-- form-group// -->
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                </div>
                <input name="user.mailAddress" class="form-control" placeholder="Email address" type="email"
                    [(ngModel)]="user.Mail">
            </div> <!-- form-group// -->
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
                </div>
                <select name="user.phonenumber" class="custom-select" style="max-width: 120px;"
                    [(ngModel)]="user.phonenumber">
                    <option selected="">+971</option>
                    <option value="1">+972</option>
                    <option value="2">+198</option>
                    <option value="3">+701</option>
                </select>
                <input name="" class="form-control" placeholder="Phone number" type="text">
            </div> <!-- form-group// -->
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-building"></i> </span>
                </div>
                <select name="user.jobtype" class="form-control" [(ngModel)]="user.jobtype">
                    <option selected=""> Select job type</option>
                    <option>Designer</option>
                    <option>Manager</option>
                    <option>Accaunting</option>
                </select>
            </div> <!-- form-group end.// -->
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                </div>
                <input name="user.pwd" class="form-control" placeholder="Create password" type="password"
                    [(ngModel)]="user.password">
            </div> <!-- form-group// -->
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                </div>
                <input name="user.repeatpwd" class="form-control" placeholder="Repeat password" type="password"
                    [(ngModel)]="user.repeatpassword">
            </div> <!-- form-group// -->
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block" (click)="evtSignUp(user)"> Create
                    Account </button>
            </div> <!-- form-group// -->
            <p class="text-center">Have an account? <a href="">Log In</a> </p>
        </form>
    </article>
</div> <!-- card.// -->