<!-- <ng-container ngtemplateOutlet="modal">

</ng-container> -->

<!-- <ng-template #modal> -->
<!-- <ng-template>

</ng-template> -->
<!-- <ng-container> -->

<div>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Customer</h4>
        <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="customerForm">
            <div class="form-group row">
                <div class="col-md-6">
                    <label for="CuctomerID">Customer ID</label>
                    <input type="text" name="CustomerID" placeholder="Customer ID" 
                    formControlName="CustomerID"
                        class="form-control">
                </div>
                <div class="col-md-6">
                    <label for="CuctomerName">Company Name</label>
                    <input type="text" name="CompanyName" placeholder="Company Name" formControlName="CompanyName"
                        class="form-control">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-6">
                    <label for="ContactName">Contact Name</label>
                    <input type="text" name="ContactName" placeholder="Contact Name" formControlName="ContactName"
                        class="form-control">
                </div>
                <div class="col-md-6">
                    <label for="ContactTitle">Contact Title</label>
                    <input type="text" name="ContactTitle" placeholder="Contact Title" formControlName="ContactTitle"
                        class="form-control">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-6">
                    <label for="Address">Address</label>
                    <input type="text" name="Address" placeholder="Address" formControlName="Address"
                        class="form-control">
                </div>
                <div class="col-md-6">
                    <label for="City">City</label>
                    <input type="text" name="City" placeholder="City" formControlName="City" class="form-control">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-6">
                    <label for="Region">Region</label>
                    <input type="text" name="Region" placeholder="Region" formControlName="Region" class="form-control">
                </div>
                <div class="col-md-6">
                    <label for="PostalCode">Postal Code</label>
                    <input type="text" name="PostalCode" placeholder="PostalCode" formControlName="PostalCode"
                        class="form-control">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-6">
                    <label for="Country">Country</label>
                    <input type="text" name="Country" placeholder="Country" formControlName="Country"
                        class="form-control">
                </div>
                <div class="col-md-6">
                    <label for="Phone">Phone</label>
                    <input type="text" name="Phone" placeholder="Phone" formControlName="Phone" class="form-control">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-6">
                    <label for="Fax">Fax</label>
                    <input type="text" name="Fax" placeholder="Fax" formControlName="Fax" class="form-control">
                </div>
            </div>
            <div class="container">
                <table class="table table-bordered">
                    <thead>
                    </thead>
                </table>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button *ngIf="IsCreate" type="button" class="btn btn-outline-dark" 
        (click)="evtCreateCustomer(customerForm)">Create</button>
        <button *ngIf="!IsCreate" type="button" class="btn btn-outline-dark" 
        (click)="evtUpdateCustomer(customerForm)">Update</button>
        <button type="button" class="btn btn-outline-dark" 
        (click)="activeModal.dismiss()" >Close</button>
    </div>
    <!-- </ng-container> -->
    <!-- </ng-template> -->
</div>


<!-- <div *ngIf="!Status" aria-live="polite" aria-atomic="true" style="position: relative; min-height: 200px;">
    <div class="toast" style="position: absolute; top: 0; right: 0;">
        <div class="toast-header">
            <img src="..." class="rounded mr-2" alt="...">
            <strong class="mr-auto">Create</strong>
            <small>11 mins ago</small>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body">
            {{Status}} Created Successfully.
        </div>
    </div>
</div> -->