<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Customer</h4>
    <!-- ctx.dis is not a function  -->
    <!-- 1. If you write as dis input parameter then you can get the error.
    2. Instead you have to pass dismiss -->
    <!-- <button type="button" class="close" aria-label="Close" (click)="dis()">
        <span aria-hidden="true">&times;</span>
    </button> -->
    <button type="button" class="close" aria-label="Close" (click)="customerModaldismiss()">
        <span aria-hidden="true">&times;</span>
    </button>

</div>
<div class="modal-body">
    <form [formGroup]="customerForm">
        <div class="form-group row">
            <div class="col-md-6">
                <label for="CuctomerID">Customer ID</label>
                <input type="text" name="CustomerID" placeholder="Customer ID" formControlName="CustomerID"
                    class="form-control">
            </div>
            <div class="col-md-6">
                <label for="CuctomerName">Company Name</label>
                <input type="text" name="CompanyName" placeholder="Company Name" formControlName="CompanyName"
                    class="form-control">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-6">
                <label for="ContactName">Contact Name</label>
                <input type="text" name="ContactName" placeholder="Contact Name" formControlName="ContactName"
                    class="form-control">
            </div>
            <div class="col-md-6">
                <label for="ContactTitle">Contact Title</label>
                <input type="text" name="ContactTitle" placeholder="Contact Title" formControlName="ContactTitle"
                    class="form-control">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-6">
                <label for="Address">Address</label>
                <input type="text" name="Address" placeholder="Address" formControlName="Address" class="form-control">
            </div>
            <div class="col-md-6">
                <label for="City">City</label>
                <input type="text" name="City" placeholder="City" formControlName="City" class="form-control">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-6">
                <label for="Region">Region</label>
                <input type="text" name="Region" placeholder="Region" formControlName="Region" class="form-control">
            </div>
            <div class="col-md-6">
                <label for="PostalCode">Postal Code</label>
                <input type="text" name="PostalCode" placeholder="PostalCode" formControlName="PostalCode"
                    class="form-control">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-6">
                <label for="Country">Country</label>
                <input type="text" name="Country" placeholder="Country" formControlName="Country" class="form-control">
            </div>
            <div class="col-md-6">
                <label for="Phone">Phone</label>
                <input type="text" name="Phone" placeholder="Phone" formControlName="Phone" class="form-control">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-6">
                <label for="Fax">Fax</label>
                <input type="text" name="Fax" placeholder="Fax" formControlName="Fax" class="form-control">
            </div>
        </div>
        <div class="container">
            <table class="table table-bordered">
                <thead>
                </thead>
            </table>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark">Create</button>
    <button type="button" class="btn btn-outline-dark">close</button>
</div>