<div class="container" style="margin-top:20px">
    <form>
        <div class="row" [formGroup]="fgroup">
            <div class="col-4 form-group">
            </div>
            <div class="col-3 form-group">
                <select class="form-control" formControlName="SelectedItem" (change)="changeItems(fgroup)">
                    <option>Please select the value</option>
                    <option *ngFor="let item of items ;let index = $index" [value]="item.ID">{{item.Name}}</option>
                </select>
            </div>
        </div>
    </form>
</div>
{{employeeID}}

<ng-template [ngIf]="fgroup.controls.SelectedItem.value == '1'">
    Template renders
</ng-template>
